<library path="lib/libsiar_rqt_plugin">
  <class name="siar_rqt_plugin/MyPlugin" type="siar_rqt_plugin::MyPlugin" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      SIAR plugin
    </description>
    <qtgui>
 
      <label>SIAR plugin</label>
      <icon type="theme">system-help</icon>
      <statustip>A plugin for the siar robot </statustip>
    </qtgui>
  </class>
</library>
