<?xml version="1.0"?>
 
<launch>

<node name="point2fire" type="point2fire" pkg="siar_arm" output="screen">
  <param name="robot_name" value="siar"/>
  <param name="kp_pan" value="-0.001"/>
  <param name="ki_pan" value="0.0"/>
  <param name="kd_pan" value="0.0"/>
  <param name="kp_tilt" value="0.0"/>
  <param name="ki_tilt" value="0.0"/>
  <param name="fire_offset_x" value="0.0"/>
  <param name="fire_offset_y" value="0.0"/>


</node>

</launch>
