<?xml version="1.0"?>
<launch>

  <arg name="resolution" default="0.025"/>
  <arg name="obstacle_height" default="0.05"/>
  
  # Point cloud computation
  <node pkg="depth2cloud" type="depth2cloud_node" name="depth2cloud_front_down" output="screen" >
    <remap from="depth" to="/front_down/depth_registered/image_raw"/>                   # Topic for the camera depth
    <remap from="info" to="/front_down/depth_registered/camera_info"/>                  # Topic for the camera info
    <remap from="cloud" to="/front_down/point_cloud"/>                                                  # Topic name for output point cloud
    <param name="range_min" value = "0.3"/>                                                                     # Min range in meters for point cloud generation
    <param name="range_max" value = "3.0"/>                                                                     # Max range in meters for point cloud generation
    <param name="down_sampling" value = "1"/>                                                           # Camera down sampling factor. Values: 1, 2 or 4. The bigger the faster.
  </node>
  <node pkg="depth2cloud" type="depth2cloud_node" name="depth2cloud_back_down" output="screen" >
    <remap from="depth" to="/back_down/depth_registered/image_raw"/>                    # Topic for the camera depth
    <remap from="info" to="/back_down/depth_registered/camera_info"/>                   # Topic for the camera info
    <remap from="cloud" to="/back_down/point_cloud"/>                                                   # Topic name for output point cloud
    <param name="range_min" value = "0.3"/>                                                                     # Min range in meters for point cloud generation
    <param name="range_max" value = "3.0"/>                                                                     # Max range in meters for point cloud generation
    <param name="down_sampling" value = "1"/>                                                           # Camera down sampling factor. Values: 1, 2 or 4. The bigger the faster.
  </node>
  
  <node pkg="siar_costmap" type="costmap_node" name="costmap_node" output="screen" >
    <remap from="cloud0" to="/front_down/point_cloud"/>                 # Input cloud 0
    <remap from="cloud1" to="/back_down/point_cloud"/>                  # Input cloud 1
    <param name="hz" value = "10.0"/>                                                   # Costmap update rate
    <param name="obstacle_height" value = "$(arg obstacle_height)"/>                               # Absolute value of obstacle height (or hole depth)
    <param name="resolution" value="$(arg resolution)"/>
    <param name="exp_decay" value = "20.0"/>					    # Obstacle exponential decay (it is counted in cells)
    <param name="width" value="1.5"/>
    <param name="height" value="3.0"/>
    <param name="tilt_compensate" value="true"/>
    <remap from="imu" to="/arduimu_v3/imu"/>
  </node>

</launch>
