<?xml version="1.0"?>
<launch>

  # Bag filename
  <arg name="bag_file" />
  
  # Starting second into the bag file
  <arg name="start" default="0" />
  <arg name="rate" default="2"/>
  
  # Use simulation time fro TFs
  <param name="use_sim_time" value="true" />

  # Bag file
  <node name="bag_player" type="play" pkg="rosbag" args="$(arg bag_file) --clock -s $(arg start) -r $(arg rate)" output="screen"/>
  
  <node name="odom_tf" type="odom_to_tf.py" pkg="odom_to_tf" />
  <node name="gather_data" type="gather_data.py" pkg="gather_data" output="screen"/>

</launch>
