-<?xml version="1.0" ?>
<launch>

<arg name="bag_file" default="/home/robolab/siar/bags/barcelona0416/siar_2016-04-27-11-36-27.bag"/>
<arg name="camera" default="/front"/>
<arg name="start" default="0"/> 

<param name="use_sim_time" value="true"/>

<!-- Rosbag and associated stuff to generate the pointcloud -->
<node name="rosbag" pkg="rosbag" type="play" args="$(arg bag_file) --clock --start $(arg start) " output="screen"/>
<node name="uncompresser" pkg="image_transport" type="republish" args="compressedDepth in:=$(arg camera)/depth_registered/image_raw raw out:=$(arg camera)/depth_registered/image_raw"/>

<node pkg="nodelet" type="nodelet" args="manager" name="depth_transforms_manager" output="screen"/>
<node pkg="nodelet" type="nodelet" name="cloudify"
      args="load depth_image_proc/point_cloud_xyz depth_transforms_manager">
  <!-- Input: Rectified depth image, registered to the RGB camera. -->
  <remap from="image_rect" to="$(arg camera)/depth_registered/image_raw"/> 
  <remap from="camera_info" to="$(arg camera)/rgb/camera_info"/>
  <!-- Output: XYZRGB point cloud. -->
  <remap from="points" to="$(arg camera)/points"/>
</node>



<!-- Point Cloud Processing node -->
<node name="test_analysis" pkg="pcl_processing" type="map_analysis" output="screen">
  <remap from="points2" to="$(arg camera)/points"/>
  
</node>

</launch>
