<?xml version="1.0"?>
<launch>
  
  <arg name="siar_device" default="/dev/serial/by-id/usb-FTDI_MM232R_USB_MODULE_FTE48B69-if00-port0"/>
    <arg name="battery_device" default="/dev/serial/by-id/usb-FTDI_MM232R_USB_MODULE_FTE48BAK-if00-port0"/>
  <!-- Bring up the raposa node and the imu if desired -->
  <node name="siar_cal" pkg="siar_driver" type="siar_calibration_node" output="screen" args="width">
    <param name="lin_mot_file" value="$(find siar_driver)/data/lin_pos"/>
    <param name="width_file" value="$(find siar_driver)/data/width"/>
    <param name="elec_x_file" value="$(find siar_driver)/data/center_x"/>
    <param name="siar_device" value="$(arg siar_device)"/>
    <param name="battery_device" value="$(arg battery_device)"/>
  </node>
  </launch>

  