<?xml version="1.0"?>
<launch>
  
  <arg name="nvip_monitor" default="true" />
  <arg name="joy_topic" default="/joy" />

  <!-- Launch nVIP2400 RSSI monitoring if enabled -->
  <node pkg="rssi_get" type="get_rssi_nvip_2400.py" name="rssi_get_node" if="$(arg nvip_monitor)"/>
  <!-- Launch serial and udp comms  -->
  <include file="$(find udp_bridge)/launch/udp_server.launch">
    <arg name="joy_topic" value="$(arg joy_topic)"/>
  </include>
<!--   <include file="$(find serialbridge)/launch/serial_comms.launch"/> -->
  <!-- Launch web videoserver -->
 <node pkg="web_video_server" type="web_video_server" name="videoserver_node" output="screen"/>
 
 <!-- Splitter nodes -->
 <include file="$(find frame_dropper)/launch/splitter.launch"/>
 <include file="$(find frame_dropper)/launch/splitter.launch">
   <arg name="camera_1" value="/front_right"/>
   <arg name="camera_2" value="/back_right"/>
   <arg name="downsample_depth" value="true"/>
   <arg name="only_depth" value="false"/>
   <arg name="publish_all" value="true"/>
   <arg name="node_name" value="front_right"/>
 </include>
 
 <include file="$(find frame_dropper)/launch/splitter.launch">
   <arg name="camera_1" value="/front_left"/>
   <arg name="camera_2" value="/back_left"/>
   <arg name="downsample_depth" value="true"/>
   <arg name="only_depth" value="false"/>
   <arg name="publish_all" value="true"/>
   <arg name="node_name" value="front_left"/>
 </include>
 
</launch>
