<?xml version="1.0" ?>
<launch>
  
  <arg name="emulate_laser" default="true"/>
  <arg name="bag" default="false"/>
  <arg name="tf" default="true"/>
<!--   <arg name="data_skip" default="0"/> -->

  
  <!-- Camera stuff -->
  <include file="$(find openni2_multicamera)/launch/7_cam/7_cam.launch" >
<!--     <arg name="data_skip" value="$(arg data_skip)"/>     -->
  </include>
  
  
  <!-- TF stuff (in the future will be inside the driver. TODO: add parameter -->
  <include file="$(find siar_driver)/launch/sensor_transform_siar_7_cam_new_platform.launch" if="$(arg tf)"/>
<!--   <include file="$(find siar_driver)/launch/sensor_transform_siar_calib_2017_02_14_4_cam.launch"/> -->
  
  <include file="$(find siar_driver)/launch/bag.launch" if="$(arg bag)"/>
  
</launch>
