<?xml version="1.0" ?>
<launch>

  <!-- TODO: calibrate front link and base link -->
<node name="tf_front_c" pkg="tf" type="static_transform_publisher" args="0.14 0 0.6 0 0 0 /base_link /front_link 10"/>
<node name="tf_back_c" pkg="tf" type="static_transform_publisher" args=" 0.0486026 -0.00574039   -0.493657   0.0154103     0.99977  -0.0141539 -0.00463845 /front_depth_optical_frame /back_depth_optical_frame 10"/>
<node name="tf_front_front_d" pkg="tf" type="static_transform_publisher" args="-0.00285463 -0.0515036  0.0207284  -0.380188           0 1.11022e-16    0.924909 /front_depth_optical_frame /front_down_depth_optical_frame 10"/>
<!-- <node name="tf_back_back_d" pkg="tf" type="static_transform_publisher" args="-0.00329023 -0.068142 0.0228046 0.281853 0.0536503 -0.125091  0.949754 /back_depth_optical_frame /back_down_depth_optical_frame 10"/> -->
<node name="tf_back_back_d" pkg="tf" type="static_transform_publisher" args="-0.0152959 -0.0592159  0.0177846
  -0.380188           0 1.11022e-16    0.924909 /back_depth_optical_frame /back_down_depth_optical_frame 10"/> 



</launch>
