<?xml version="1.0"?>
<launch>
  
  <arg name="obstacle_height" default="0.09"/>
  <arg name="resolution" default ="0.025"/>
  <include file="$(find siar_costmap)/launch/siar_costmap.launch">
    <arg name="obstacle_height" value="$(arg obstacle_height)"/>
    <arg name="resolution" value="$(arg resolution)"/>
<!--  <arg name="robot_height" value="0.50"/> -->
    
    <arg name="camera_1" value="/front_left"/>
    <arg name="camera_2" value="/front_right"/>
    <arg name="camera_3" value="/back_left"/>
    <arg name="camera_4" value="/back_right"/>
<!--     <arg name="camera_5" value="/back"/> -->
<!--     <arg name="camera_6" value="/front"/> -->
    <arg name="roi_x" value="10"/>
    <arg name="roi_w" value="300"/>
    <arg name="roi_y" value="5"/>
    <arg name="roi_h" value="230"/>
  </include>
</launch>
