<?xml version="1.0"?>
<launch>
  
  <arg name="joystick" default="true"/>
  <arg name="perception" default="true"/>
  <arg name="obstacle_height" default="0.05"/>
  <arg name="resolution" default ="0.01"/>
  
  <node name="siar_joy" pkg="siar_driver" type="siar_teleop_joy" output="screen" if="$(arg joystick)">
    <remap from="/cmd_vel" to="/user_cmd_vel"/>
    <param name="max_auto_mode" value="2"/>
  </node>
  <node name="joy_node" pkg="joy" type="joy_node" if="$(arg joystick)" />
  
  
  
  <!-- Automatic control -->
    <node name="siar_controller" pkg="siar_controller" type="siar_controller_node" output="screen">
      <remap from="/cmd_vel_in" to="/user_cmd_vel"/>
      <remap from="/cmd_vel_out" to="/cmd_vel"/>
      <remap from="/altitude_map" to="/costmap_node/costmap"/>
      
      <rosparam file="$(find siar_controller)/cfg/siar_controller.yaml" command="load"  /> 
      <param name="velocityset_filename" value="$(find siar_controller)/cfg/velocityset"/>
    </node>
  <include file="$(find siar_costmap)/launch/siar_costmap.launch">
    <arg name="obstacle_height" value="$(arg obstacle_height)"/>
    <arg name="resolution" value="$(arg resolution)"/>
  </include>
  
  <!-- Perception -->
  <include file="$(find siar_driver)/launch/perception.launch" if="$(arg perception)"/>
  
</launch>
